@import "tailwindcss";

@theme {
    --color-brand: #000000;
    --color-secondary: red;
    --text-big: 3rem;
    --text-heading: 1.8rem;
     --text-bigger-heading: 2.1rem;
    --color-regal-blue: #243c5a;
   --font-ds: "Dancing Script", cursive;
}

